asyncio==4.0.0
cvzone==1.6.1
dlib-bin==19.24.6
dotenv==0.9.9
gdown==5.2.0
huggingface-hub==0.36.0
imutils==0.5.4
joblib==1.5.2
matplotlib==3.10.7
networkx==3.4.2
orjson==3.11.4
pandas==2.3.3
psycopg2==2.9.11
pycparser==2.23
pycryptodome==3.23.0
pydantic_core==2.14.6
pymongo==4.16.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
ultralytics==8.3.251
websockets==16.0
fastapi==0.103.2
insightface==0.7.3
pydantic==2.5.3
python-multipart==0.0.8
uvicorn==0.22.0
PyJWT==2.10.1
faiss-cpu==1.13.2
httpx==0.28.1
onnxruntime==1.16.3
numpy==1.26.4
opencv-python==4.8.1.78