opencv-python-headless
scikit-image==0.21.0
easydict==1.10
fastapi==0.103.2
insightface==0.7.3
pydantic==2.5.3
pydantic_core==2.14.6
python-multipart==0.0.8
uvicorn==0.22.0
numpy==1.24.3
onnxruntime==1.16.3
